# This simple workflow publishes the content to GitHub Pages

name: Deploy Static Site to Pages

on:
  # Runs on pushes targeting the default branch (main or master)
  push:
    branches: ["main"] # Make sure this is the name of your main branch

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions needed for the Pages deployment
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single job to deploy the site
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # The directory containing your static files
          path: '.' 
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
